

	.search-box {
		display: block;
		max-width: 800px;
		width: 90%;
		position: relative;
		z-index: 10;
		margin: 0 auto;
		pointer-events: initial;
	}
	
	#search-field {		
		color: #000;		
		font-size:24px;
		font-weight: 600;
		font-family: 'Poppins', sans-serif;
		border-bottom: 2px solid rgba(0,0,0,0.1);
	}
	
	.search-box label {
		background-color:#fff;
	}
	
	#open-search {
		cursor:pointer;
		width:40px;
		height:40px;
		line-height:39px;
		text-align:center;
		color:#000;
	}
	
	.light-content #open-search {
		color:#fff;
	}
	
	.single #hero, .single-post #hero {    
    	height: auto;
	}
	
	.single #hero-styles, .single-post #hero-styles {
		position: relative;
		height: auto;
	}
	
	.title-bg .hero-title{
		color: #fff;
		background-color: #000;
		display: inline-block;
		padding: 9px 15px;
		border-radius: 3px;
	}
	
	#blog {
		position:relative;
		box-sizing: border-box;
		padding: 0 180px;
		padding-top:100px;
	}
	
	.post-content-full {
		position:relative;
		box-sizing: border-box;
		width:100%;
		max-width:1180px;
		margin:0 auto;
		padding-top: 100px;
	}
	
	.post-content-full.padding-above {
		padding-top:60vh;
	}
	
	.post-content-full .full .container {
		padding:0!important;
	}
	
	.post-content-full::after {
		clear: both;
		content: " ";
		display: table;
	}
	
	#blog::after, #blog-post::after, .post-content::after, .container_post::after {
		clear: both;
		content: " ";
		display: table;
	}
	
	.blog-title-container {
		text-align: center;
		padding-top: 200px;
		padding-bottom: 100px;
	}
	
	article .post-image {
		width: calc(100% - 260px);
		margin: 0 auto;
	}
	
	article .post-image img {
	}
	
	article .clapat-button {
		margin-right:0;
	}
	
	.article-left, .article-right {
		padding:0 125px;
		box-sizing: border-box;
		display:block;
		width:60%;
		position:relative;
		margin:0 auto;
	}
	
	.article-left {
		width:100%!important;
		padding:0 130px;
	}
	
	.article-left::after {
		clear: both;
		content: " ";
		display: table;
	}
	
	.article-right {
		margin-bottom:120px;
	}
	
	.post-categories {
		margin:0;
	}
	
	.entry-meta {
		margin:60px 0 0;
		float:left;		
	}
	
	#main-content .entry-meta {
		max-width:50%;
	}
	
	#hero-caption .entry-meta {
		float:none;
		margin:0;
		opacity:0;
		-webkit-transform: translateY(15vh);
		transform: translateY(15vh);
		background: #000;
		display: table;
		margin: 0 auto;
		padding-left: 10px;
		padding-bottom: 10px;
		padding-top:5px;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}
	
	#hero-caption.animate .entry-meta, #hero.animate .entry-meta {
		opacity:1;
	}
	
	.entry-meta.entry-date {
		float: right;
	}
	
	.entry-meta.entry-date li {
		margin-right:0;
	}

	
	.entry-meta li {
		list-style:none;
		display:inline-block;
		position:relative;
		margin-right:10px;
	}
	
	#hero-caption .entry-meta li {
		line-height: 20px;
		box-sizing: border-box;
		margin-bottom: 0;
	
	}
	
	.entry-meta li::after {
		width: 100%;
		height: 2px;
		position: absolute;
		content: "";
		background-color:rgba(0,0,0,0.1);
		left: 0;
		bottom: -3px;
		z-index:1;
	}
	
	#hero-caption .entry-meta li::after {
		background-color:rgba(255,255,255,0.2);
	}
	
	.entry-tags.entry-meta li:first-child::after {
		background-color:rgba(0,0,0,0);		
	}
	
	.entry-tags.entry-meta li:first-child {
		display:none;
	}
	
	#hero-caption.animate .entry-meta li::after, #hero.animate .entry-meta li::after {
		bottom: 0;
		background-color:rgba(0,0,0,0.2);		
		-webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
		transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
	}
	
	#hero-caption.light-content.animate .entry-meta li::after {
		bottom: 0;
		background-color:rgba(255,255,255,0.2);		
		-webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
		transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
	}
	
	.single-post .hero-title, .page-template-blog-page .hero-title {
		font-size: 48px;;
		line-height: 60px;
	}
	
	.light-content .entry-meta li::after {
		background-color:rgba(255,255,255,0.2);
	}
	
	.entry-meta li a {
		color: #000;		
		font-size:14px;
		font-weight: 500;
		font-family: 'Poppins', sans-serif;
		display: block;
	}
	
	#hero-caption .entry-meta li a {
		color:#fff;
	}
	
	.light-content .entry-meta li a {
		color: #fff;
	}
	
	.entry-meta li a:before {
        content: '';
        position: absolute; 
		bottom: -3px; 
		left: 0;
        width: 100%;
        height: 2px;
		z-index:2;
        background: rgba(0,0,0,1);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .2s ease-out, opacity .2s ease-out 0.3s;
    }
	
	#hero-caption .entry-meta li a:before {
		background:#fff;
	}
	
	.light-content .entry-meta li a:before {
		background: rgba(255,255,255,1);
	}
  
    .entry-meta li a:hover::before {
		transform: scaleX(1);
		transform-origin: left;
	}
	
	.article-meta-data {
		padding: 60px 40px;
		position: relative;
		width: 100%;
		max-width: 1180px;
		box-sizing: border-box;
		margin: 0 auto;
			margin-top: 0px;
		margin-top: 100px;
		background: #181818;
		border-radius: 10px;
	}


	.article-meta-data::after {
		clear: both;
		content: " ";
		display: table;
	}
	
	.article-meta-data .entry-meta li a {
    	color: #fff;
	}
	
	.article-meta-data .entry-meta li::after {
    	background-color: rgba(255,255,255,1);
	}
	
	.article-meta-data .entry-meta li a:before {
		background-color: rgba(0,0,0,0.7);
	}
	
	.article-meta-data .entry-meta {
    	margin: 0;		
	}
	
	.post-title {
		font-family: 'Poppins', sans-serif;
		font-size: 36px;
		font-weight: 600;
		margin-left: -2px;
		line-height: 48px;
		margin-bottom: 20px;
		display: block;
	}
	
	.post-excerpt {
		margin-bottom:30px;
		line-height:28px;
		color: #aaa;
	}
	
	#blog-navigation {
		width:100%;
		max-width:550px;
		margin:0 auto;
		box-sizing:border-box;
		height:80px;
		position:relative;
		margin-top:130px;
		margin-bottom:100px;
	}
	
	#blog-navigation::after {
		content: "";
		width: 150px;
		height: 1px;
		background-color: #000;
		opacity:0.1;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	
	.light-content #blog-navigation::after {
		background-color: #fff;
		opacity:0.15;
	}
	
	#blog-navigation .blog-prev-wrap, #blog-navigation .blog-next-wrap {
		width: 80px;
		height: 80px;
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		float:left;
		overflow:hidden;
		z-index:1;
		-webkit-transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
		transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;		
	}
	
	#blog-navigation .blog-prev, #blog-navigation .blog-next {
		display: block;
		width: 40px;
		height: 40px;
		text-align: center;
		z-index: 10;
		position: relative;
	}
	
	#blog-navigation .blog-prev-wrap {
		float:left;
	}
	
	#blog-navigation .blog-next-wrap {
		float:right;
	}
	
	#blog-navigation i {
		line-height:40px;
		width:40px;
		color:#ddd;
		position:absolute;
		-webkit-transition: all 0.15s ease-in-out;
		-moz-transition: all 0.15s ease-in-out;
		-o-transition: all 0.15s ease-in-out;
		-ms-transition: all 0.15s ease-in-out;
		transition: all 0.15s ease-in-out;
	}
	
	.light-content #blog-navigation i {
		color:#fff;
		opacity:0.2;
	}
	
	#blog-navigation a i {
		color:#000;
	}
	
	.light-content #blog-navigation a i {
		color:#fff;
		opacity:1;
	}
	
	#blog-navigation .blog-prev a i, #blog-navigation .blog-prev i {
		left:0px;
	}
	
	#blog-navigation .blog-prev:hover a i {
		left:-7px;
	}
	
	#blog-navigation .blog-next a i {
		right:0px;
	}
	
	#blog-navigation .blog-next:hover a i, #blog-navigation .blog-next:hover i {
		right:-5px;
	}
	
	.blog-numbers {
		position: absolute;
		width: 100%;
		box-sizing: border-box;
		padding: 0 80px;
		height: inherit;
		z-index:0;
		color: #000;
		font-weight: 700;
		font-family: 'Poppins', sans-serif;
		font-size: 48px;
		font-weight:700;
		left:0;
		z-index:0;
	}
	
	.light-content .blog-numbers {
		color: #fff;
	}
	
	.blog-numbers .blog-active {
		width:30%;
		float:left;
		text-align:center;
		line-height:80px;
	}
	
	.blog-numbers .blog-total {
		width:30%;
		float:right;
		text-align:center;
		line-height:80px;
	}
	
	.article-discusion {
		max-width: 900px;
		width: 100%;
		margin: 0 auto;
		margin-top:80px;
		margin-bottom:80px;
		padding: 0 50px;
		box-sizing: border-box;
	}
	
	#page-with-comments .article-discusion {
		width: 100%;
		padding:0;
		max-width:980px;
	}
	
	#page-with-comments .article-formular {
		padding:0;
		max-width:980px;
	}
		
	.comments-navigation {
		margin-bottom: 60px;
	}
	
	.user_comment {
		color: #000;
		margin-bottom: 40px;
		padding-left: 80px;
		position:relative;
	}
	
	.user-image {
		border-radius: 2px;
		height: 60px;
		overflow: hidden;
		width: 60px;
		position:absolute;
		left:0px;
	}
	
	.user-image img {
		width:100%;
		height:auto;
	}
	
	.comment-head {
		font-weight: 500;
		font-family: 'Poppins', sans-serif;
		color:#000;
		margin-bottom: 10px;
	}
	
	.comment-head span {
		font-weight:300;
		font-size:14px;
		color:#999;
	}
	
	.comment-head span a {
		color:#000;
		font-weight:400;
	}
	
	.comment-head span a:hover {
		text-decoration:underline;
	}
	
	.comment-text {
		color: #999;
		margin-bottom:5px;
	}
	
	.user_comment_reply {
		position:relative;
		color: #000;
		padding-left: 80px;
		margin-top: 40px;
		display:block;
	}
	
	.add-comment .caption-content {
		padding:0;
	}
	
	.comment-respond {
		margin-bottom:50px;
	}
	
	.comment-respond textarea {
		margin-bottom: 60px;
	}
	
	.comment-respond .message-box {
		margin-top: 20px;
	}
	
	.article-formular {
		text-align:center;
		max-width: 900px;
		width: 100%;
		margin: 0 auto;
		padding: 0 50px;
		box-sizing: border-box;
	}
	
	.single-post #project-nav {
		padding-top:20px;
	}
	
	.post-title, .single-post .hero-title span {
		-ms-word-wrap: break-word;
		word-wrap: break-word;
		overflow-wrap: break-word;
	}
	
	.post-password-form input[type="password"] {
		background-color: #eee;
		display: block;
		margin-top: 10px;
		max-width: 30%;
		width: 100%;
		padding:0 20px;
		border-radius: 1px;
		box-sizing: border-box;
		border: 1px solid rgba(0,0,0,0.1);
		margin-bottom:30px;
		color: #000;
	}
	
	.article-formular textarea {
		margin-bottom:60px;
	}
	
	.post-password-form label {
		color: #333;
		display: block;
		line-height: 1.5;
	}
	
	
/* WordPress Styles */

	.post.sticky {
		background-color:#eee;
		padding-bottom:1px;
		border-radius:3px;
	}
	
	.post.sticky .article-right {
		margin-bottom: 100px;
	}

	
	.single-post .clapat-caption {
		table-layout:fixed;
	}
	
	.post-title, .post-title-no-link {
		-ms-word-wrap: break-word;
		word-wrap: break-word;
		overflow-wrap: break-word;
	}

	.alignleft {
		display: inline;
		float: left;
	}
	
	.alignright {
		display: inline;
		float: right;
	}
	
	.aligncenter {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	
	blockquote.alignleft, .wp-caption.alignleft, img.alignleft {
		margin: 0.4em 1.6em 1.6em 0;
	}
	
	blockquote.alignright, .wp-caption.alignright, img.alignright {
		margin: 0.4em 0 1.6em 1.6em;
	}
	
	blockquote.aligncenter, .wp-caption.aligncenter, img.aligncenter {
		clear: both;
		margin-top: 0.4em;
		margin-bottom: 1.6em;
	}
	
	.wp-caption.alignleft, .wp-caption.alignright, .wp-caption.aligncenter {
		margin-bottom: 1.2em;
	}
		
	.post-comments-textarea.comment_area_loggedin {
		position:relative;
	}

	.bypostauthor > article .fn:before {
		content: "";
		margin: 0 2px 0 -2px;
		position: relative;
	}
	
	.wp-caption {
		margin-bottom: 1.6em;
		max-width: 100%;
	}
	
	.screen-reader-text {
		display:none;
	}
	
	.wp-caption-text {
		font-size: 11px;
		font-weight: 400;
		color:#999;
	}
	
	.post-password-form label {
		color: #333;
		display: block;
		line-height: 1.5;
	}
		
	.form-submit {
		display: table;
		margin-top: 20px;
		margin-bottom: 40px;
		position: relative;
		width: 100%;
		text-align: center;
		width: auto;
		margin: 0 auto;
	}
	
	.form-submit, .post-password-form input[type="submit"] {		
		cursor: pointer;
		border: none;
		box-sizing: border-box;
		text-align: center;
		background-color: #000;
		display: inline-block;
		border-radius: 4px;
		position: relative;
		overflow: hidden;
		margin-top:40px;
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	.form-submit input[type="submit"], .post-password-form input[type="submit"] {
		color: #fff;
		font-weight: 500;
		font-family: 'Poppins', sans-serif;
		font-size: 14px;
		padding: 14px 24px;
		line-height: 16px;
		position:relative;
		z-index:10;
	}
	
	.form-submit::after, .post-password-form input[type="submit"]::after {
		content: '';
		position: absolute;
		bottom: 0px;
		left: 0;
		width: 100%;
		height: 100%;
		background: #333;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform .2s ease-out;
		-webkit-transition: transform .2s ease-out;
	}
	
	.form-submit:hover::after {
		transform: scaleX(1);
		transform-origin: left;
	}
	
	.logged-in textarea {
		margin-bottom:40px;
	}
	
	.logged-in .form-submit {
		margin-top:10px;
	}
	
	input[type="password"] {
		background:#fff;
		box-sizing:border-box;
		border-radius:3px;
		padding:10px;
		height:50px;
		line-height:30px;
		outline:none;
		min-width:350px;
		display:block;
		border:1px solid #ddd;
	}
	
	.post-password-form input {
		margin-top:20px!important;
	}
	
	article .page-links {
		margin-bottom:40px;
	}
	
	
	.post-content-full .page-links {
		display: block;
		width: 100%;
		position: relative;
		float: left;
	}
	
	.page-links a {
		width: 34px;
		height: 34px;
		line-height: 35px;
		font-weight: 500;
		font-size: 12px;
		cursor: pointer;
		padding: 0;
		color:rgba(255,255,255,0.6);
		background-color: #262629;
		border-radius: 3px;
		display: inline-block;
		margin: 0 5px;
		text-align: center;
	}
	
	.page-links a:hover{
		color:rgba(255,255,255,1)
	}
	
	.gallery {
		margin-bottom: 1.6em;
	}
	
	.gallery-item {
		display: inline-block;
		padding: 1.79104477%;
		text-align: center;
		vertical-align: top;
		width: 100%;
	}
	
	.gallery-columns-2 .gallery-item {
		max-width: 50%;
	}
	
	.gallery-columns-3 .gallery-item {
		max-width: 33.33%;
	}
	
	.gallery-columns-4 .gallery-item {
		max-width: 25%;
	}
	
	.gallery-columns-5 .gallery-item {
		max-width: 20%;
	}
	
	.gallery-columns-6 .gallery-item {
		max-width: 16.66%;
	}
	
	.gallery-columns-7 .gallery-item {
		max-width: 14.28%;
	}
	.gallery-columns-8 .gallery-item {
		max-width: 12.5%;
	}
	
	.gallery-columns-9 .gallery-item {
		max-width: 11.11%;
	}
	
	.gallery-icon img {
		margin: 0 auto;
	}
	
	.gallery-caption {
		color: #707070;
		color: rgba(51, 51, 51, 0.7);
		display: block;
		font-family: "Noto Sans", sans-serif;
		font-size: 12px;
		font-size: 1.2rem;
		line-height: 1.5;
		padding: 0.5em 0;
	}
	
	.gallery-columns-6 .gallery-caption, .gallery-columns-7 .gallery-caption, .gallery-columns-8 .gallery-caption, .gallery-columns-9 .gallery-caption {
		display: none;
	}		
	
	.bottom-post {
		text-align: center;
		margin-top: 60px;
	}
	
	.pingback {
		padding-left: 0;
	}
	
	.search_results {
		text-align:center;
	}
	
/*--------------------------------------------------
	03. Project Page Navigation
---------------------------------------------------*/	
	
	
	#blog-nav {
		width: 100%;
		height: 120px;
		overflow: hidden;
		text-align: center;
		box-sizing: border-box;
		color: #000;
		position: relative;
		max-width: 600px;
		margin: 0 auto;
		margin-top: 140px;
		margin-bottom:100px;		
	}
	
	#blog-nav a{
		color:#000;
	}
	
	.light-content #project-nav .nav-title, .light-content.color-content #project-nav .nav-title, .light-content #project-nav .nav-project-title, .light-content.color-content #project-nav .nav-project-title {
		color:#fff;
	}
	
	.nav-title {
		font-weight: 700;
		font-family: 'Poppins', sans-serif;
		font-size:60px;
		line-height:120px;	
		display:inline-block;
	}
	
	.nav-blog-title {
		font-weight: 700;
		font-family: 'Poppins', sans-serif;
		font-size:36px;
		line-height:120px;	
		display:inline-block;
	}
	
	#blog-nav.from-bottom {
	  	z-index: 120;
	}

	#blog-nav .nav-blog-title {
		position: absolute;
		height: 101%;
		width: 100%;
		left: 0;
		-webkit-transition: -webkit-transform .0s;
		transition: -webkit-transform .0s;
		transition: transform .0s;
		transition: transform .0s, -webkit-transform .0s;
	}
	
	#blog-nav .nav-blog-title {
		-webkit-transform: translateY(101%);
		transform: translateY(101%);
	}
	
	#blog-nav.from-bottom .nav-blog-title {
		transition: transform .2s ease;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	
	#blog-nav.from-bottom-end .nav-blog-title {
		transition: transform .2s ease 0s;
		-webkit-transform: translateY(-101%);
		transform: translateY(-101%);
	}
	
	
	
	#blog-nav .nav-title  {
		position: absolute;
		height: 101%;
		width: 100%;
		left: 0;
		-webkit-transition: -webkit-transform .0s;
		transition: -webkit-transform .0s;
		transition: transform .0s;
		transition: transform .0s, -webkit-transform .0s;
	}
	#blog-nav .nav-title  {
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
		transition: transform .2s ease;
	}
	
	#blog-nav.from-bottom .nav-title  {
		transition: transform .2s ease;
		-webkit-transform: translateY(-101%);
		transform: translateY(-101%);
	}
	
	#blog-nav.from-bottom-end .nav-title  {
		transition: transform .0s ease 0s;
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
	}	

	
/*--------------------------------------------------
	16. Responsive
---------------------------------------------------*/			
			


@media only screen and (max-width: 1466px) {
	
	#blog {
		padding: 0 100px;
		padding-top:100px;
	}
	
	.article-left, .article-right {
    	padding: 0 40px;
		width:70%;
	}
	
	.article-left {
    	padding: 0 60px;
	}
	
	.entry-meta ul {
		margin:0;
	}
	
	#main-content .entry-meta {
		max-width: 100%;
	}
	
	.article-meta-data {
		padding: 60px 40px;
		width: calc(100% - 320px);
	}
	
	.post-content-full {
		padding-left:160px;
		padding-right:160px;
	}
	
	article .post-image {
		width: calc(100% - 120px);
	}
	
}


@media only screen and (max-width: 1024px) {
	
	
	
	#blog, .article-discusion, .article-formular {
		padding: 0 50px;
	}
	
	.single-post .container {
		padding: 0 50px;
	}
	
	.article-discusion {
		padding: 0 50px;
		box-sizing: border-box;
	}
	
	.article-left, .article-right {
    	padding: 0;
		width:80%;
	}
	
	.article-meta-data {
		padding: 60px 40px;
		width: calc(100% - 100px);
	}
	
	.user_comment {
    	padding-left: 70px;
	}
	
	.user_comment_reply {
    	padding-left: 70px;
	}

	.user-image {
		height: 40px;
		width: 40px;
		margin-left: 20px;
	}
	
	.post-content-full {
		padding-left:50px;
		padding-right:50px;
	}
	
	article .post-image {
		width: 100%;
	}
	
	.post.sticky {
		padding-left:30px;
		padding-right:30px;
	}
	
}


@media only screen and (max-width: 767px) {
	
	
	#blog, .article-discusion, .article-formular {
		padding: 0 40px;
	}
	
	.single-post .container {
		padding: 0 25px;
	}
	
	.article-left, .article-right {
    	padding: 0;
		width:100%;
	}
	
	.article-left {
		margin-bottom:30px;
	}
	
	.article-meta-data {
		padding: 40px;
		width: calc(100% - 80px);
	}
	
	.article-meta-data .entry-meta, .entry-meta.entry-date {
		float:none;
	}
	
	.entry-meta {
		margin: 20px 0 0;
		float:none;
	}

	.post-title {
		line-height:40px;		
    	font-size: 40px;
	}
	
	.user_comment {
		padding-left: 0;
	}

	.user_comment_reply {
    	padding-left: 80px;
		margin-left:-80px;
	}
	
	.user-image {
		display:none;
	}
	
	.post-content-full {
		padding-left:40px;
		padding-right:40px;
	}
	
	.post.sticky {
		padding-top:40px;
		margin-bottom: 120px;
	}
	
	.post.sticky .article-right {
		margin-bottom: 40px;
	}
	
	.post-categories li:last-child {
		margin-right: 0;
		margin-bottom: 0;
	}
	
	.single-post .hero-title, .page-template-blog-page .hero-title {
		font-size: 36px;
		line-height: 48px;
	}
	
	.nav-title {
    	font-size: 48px;
	}
	
	.main-subtitle {
		font-size: 24px;
	}

	
}


@media only screen and (max-width: 479px) {
	
	#blog, .article-discusion, .article-formular {
		padding: 0 30px;
	}
	
	.single-post .container {
		padding: 0 15px;
	}
	
	.article-meta-data {
		padding: 30px;
		width: calc(100% - 60px);
	}
	
	.post-title {
		line-height:40px;		
    	font-size: 30px;
	}
	
	.user_comment {
		padding-left: 0;
	}

	.user_comment_reply {
    	padding-left: 80px;
		margin-left:-80px;
	}
	
	.user-image {
		display:none;
	}
	
	#search-field {			
		font-size:18px;
	}	
	
	.post-content-full {
		padding-left: 30px;
		padding-right: 30px;
	}
		
}			
		